@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Nunito, sans-serif;
}

input:not([type="checkbox"]):not([type="radio"]):not("[type='search']"),
textarea, select, button {
    padding: 5px 10px;
}

.some-class {
    background-color: #86efac /* #115e59 */;
}